.light {
    background-color: red;
}

.dark {
    background-color: black;
}

.container {
    background-color: lightgrey;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    align-content: center;
    justify-items: center;
    padding: 20px;
}